---

- name: install IPMI tool
  apt:
    pkg: ipmitool
    state: present
  when: xen_dom0_ipmitool|d()

- name: install xen dependencies
  apt:
    pkg: "{{ item }}"
    state: present
  with_items: "{{ xen_dom0_dependencies }}"

- name: remove/purge os-prober
  apt:
    pkg: os-prober
    state: absent
    purge: yes
  notify: update grub

- name: dpkg-divert /etc/grub.d/20_linux_xen -> /etc/grub.d/08_linux_xen
  command: >
    dpkg-divert --quiet --local
      --divert /etc/grub.d/08_linux_xen
      --rename /etc/grub.d/20_linux_xen
  args:
    creates: '/etc/grub.d/08_linux_xen'
  when: xen_dom0_divert_grub|d(true)
  notify: update grub

- name: set Xen boot parameters in grub
  blockinfile:
    dest: /etc/default/grub
    block: |
      # Xen boot parameters for all Xen boots
      GRUB_CMDLINE_XEN="dom0_mem={{ xen_dom0_mem }}"
  notify: update grub

- name: create directories for Xen VM configs and autostart symlinks
  file:
    path: "/etc/xen/{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  with_items:
    - auto
    - VMs

- name: disable Xen DomU restore
  lineinfile:
    dest: "/etc/default/xendomains"
    regexp: "^XENDOMAINS_RESTORE="
    line: "XENDOMAINS_RESTORE=false"
    state: present

- name: create LVM volume group 'vgxen'
  lvg:
    vg: vgxen
    pvs: "{{ xen_dom0_lvm_pvs|join(',') }}"
  when: xen_dom0_lvm_pvs|d()

- name: create directories for debian-installer Xen images
  file:
    path: "/srv/xen/netboot/{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  with_items:
    - jessie
    - stretch

- name: fetch debian-installer Xen images
  get_url:
    url: https://deb.debian.org/debian/dists/{{ item[0] }}/main/installer-amd64/current/images/netboot/xen/{{ item[1] }}
    dest: /srv/xen/netboot/{{ item[0] }}/{{ item[1] }}
    owner: root
    group: root
    mode: 0644
    force: yes
  with_nested:
    - [ 'jessie', 'stretch' ]
    - [ 'initrd.gz', 'vmlinuz' ]
  tags:
    - role:xen-dom0:d-i
